{% extends "base.html" %}

{% block title %}
  Member - {{ member.first_name }} {{ member.last_name }} - Tennis Club
{% endblock %}

{% block content %}
  {% include "topbar.html" %}
  <div class="flex flex-col items-center py-8 gap-y-8">
    <div class="text-4xl font-semibold">Member</div>
    <div class="card w-72 shadow-sm">
      <figure>
        <img src="{{ member.avatar.url }}" alt="{{ member.first_name }} {{ member.last_name }}" />
      </figure>
      <div class="card-body">
        <div class="card-title">
          {{ member.first_name }} {{ member.last_name }}
        </div>
        <div>
          {% load phone_filters %}
          <span class="font-semibold">Phone:</span> {{ member.phone|format_phone }}<br />
          <span class="font-semibold">Member since:</span> {{ member.joined_date }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
