<!DOCTYPE html>
<html>
<body>
  {# This is a comment. #}

  {% comment %}
    This is also a comment.
  {% endcomment %}

  {% with first_name="Samuel" %}
    <h1>Hello {{ first_name }}, How are you doing today?</h1>
  {% endwith %}

  {% verbatim %}
    {{ This content will not be rendered by the template engine. }}
  {% endverbatim %}

  <hr />

  <ul>
    {% for fruit in fruits %}
      <li
        {% if forloop.first %}
          style='color:red;'
        {% elif forloop.last %}
          style='color:green;'
        {% endif %}
      >{{ forloop.counter }} - {{ fruit }}</li>
    {% endfor %}
  </ul>

  <hr />

  <ul>
    {% for item in items %}
      <li>{{ item }}</li>
    {% empty %}
      <li>Oh! There are no items!</li>
    {% endfor %}
  </ul>

  {% include 'footer.htm' with name='Samuel' %}
</body>
</html>
